.primary {
    &-title {
        font-size: 1.5rem;
        color: #DE9C2B;
        text-transform: uppercase;
        font-weight: bold;
    }

    &-subtitle {
        font-size: 2rem;
        font-weight: 400;
        color: #BABABA;

        &--white {
            color: #FFFFFF;
        }

        &--bold {
            font-weight: bold;
            color: #FFFFFF;
        }
    }

    &-text {
        font-size: 2rem;
        font-weight: 400;
        color: #FFFFFF;
    }
}

.big {
    &-title {
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;

        &--black {
            color: #000000;
        }
    }
}